langchain
langchain-community
langgraph
faiss-cpu
pydantic
python-dotenv
beautifulsoup4
requests
streamlit
langchain-core
python-dotenv
langchain-groq
wikipedia
langchain-huggingface 
sentence-transformers